{% extends 'egiftadmin/layout/main.html'  %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Create Freebies</li>
{% endblock %}

{% block content %}
<div class="freebies-create">

    <h2>Create Freebies</h2> <hr>

    
<div class="freebies-form">

    <form id="w0" action="/freebies/create" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group field-freebies-name required">
<label class="control-label" for="freebies-name">Name</label>
<input type="text" id="freebies-name" class="form-control" name="Freebies[name]" maxlength="256" aria-required="true">

<div class="help-block"></div>
</div>

          
                <div class="form-group field-freebies-description required">
<label class="control-label" for="freebies-description">Description</label>
<textarea id="freebies-description" class="form-control" name="Freebies[description]" rows="5" aria-required="true"></textarea>

<div class="help-block"></div>
</div>            </div>
           <div class="col-md-6">
               <div class="form-group field-freebies-image_input">
 <label class="control-label" for="freebies-image_input">Upload Featured Image</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="icon-folder"></i>
						</span>
					</div>
					<input type="hidden" name="Freebies[image_input]" value=""><input type="file" id="freebies-image_input" class="image-input" name="Freebies[image_input]">
				</div>
				<div class="help-block"></div>
			
</div>
                
                <h1><i class="fa fa-spinner"></i></h1>


                <img id="image-preview" src="/" alt="" class="img-thumbnail" width="200" height="200">
           </div>
        </div>
        

        <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>        </div>

    </form>
</div>

</div>
{% endblock %}
