{% extends 'egiftadmin/layout/main.html'  %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'about' %}">Abouts</a></li>
    <li class="breadcrumb-item active">Our Information</li>
{% endblock %}

{% block content %}
<div class="about-view">

    <h2><img class="img-profile" src="/uploads/default/eGiftRewards-logo-app-icon-colored.png">  Our Information</h2> <hr>

    <table id="w0" class="table table-striped table-bordered detail-view">
        <tbody>
            <tr>
                <th>Company Description</th>
                <td><h1>About Us</h1><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas quisquam, expedita aspernatur alias repellat consequatur nesciunt officiis voluptatum, modi rerum reprehenderit dignissimos quae nemo vero temporibus totam magni exercitationem minima.&nbsp;<a href="https://www.egift2goapp.com/dashboard" target="_blank">visit our site</a></p></td>
            </tr>
            <tr>
                <th>Address</th>
                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas quisquam, expedita aspernatur alias repellat consequatur nesciunt officiis voluptatum, modi rerum reprehenderit dignissimos quae nemo vero temporibus totam magni exercitationem minima.</td>
            </tr>
            <tr>
                <th>Mission</th>
                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas quisquam, expedita aspernatur alias repellat consequatur nesciunt officiis voluptatum, modi rerum reprehenderit dignissimos quae nemo vero temporibus totam magni exercitationem minima.</td>
            </tr>
            <tr>
                <th>Vision</th>
                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas quisquam, expedita aspernatur alias repellat consequatur nesciunt officiis voluptatum, modi rerum reprehenderit dignissimos quae nemo vero temporibus totam magni exercitationem minima.</td>
            </tr>
            <tr>
                <th>History</th>
                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas quisquam, expedita aspernatur alias repellat consequatur nesciunt officiis voluptatum, modi rerum reprehenderit dignissimos quae nemo vero temporibus totam magni exercitationem minima.</td>
            </tr>
            <tr>
                <th>Email</th>
                <td><a href="mailto:admin@gmail.com">admin@gmail.com</a></td>
            </tr>
            <tr>
                <th>Contact No</th>
                <td>12345678911</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>admin@facebook</td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>admin@twitter</td>
            </tr>
            <tr>
                <th>Instagram</th>
                <td>admin@IG</td>
            </tr>
            <tr>
                <th>Yahoo</th>
                <td>admin@yahoo.com</td>
            </tr>
            <tr>
                <th>Terms and Condition</th>
                <td>the terms</td>
            </tr>
            <tr>
                <th>Privacy Policy</th>
                <td>policy</td>
            </tr>
            <tr>
                <th>Status</th>
                <td><label class="badge badge-success">Active</label></td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>2019-03-14 14:30:03</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>2019-06-28 15:53:57</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}