{% extends 'egiftadmin/layout/main.html'  %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
    <li class="breadcrumb-item active">Update Credentials</li>
{% endblock %}

{% block content %}
<div class="user-update">
    <h2>Update Credentials</h2>
    <hr>
    <div class="user-form">
        <form id="w0" action="" method="post">
            {% csrf_token %}
        <div class="row">
            <div class="col-md-5">
                <div class="form-group field-user-username required">
                    <label class="control-label" for="user-username">Username</label>
                    {{ form.username }}
                    <div class="help-block"></div>
                </div>
                <div class="form-group field-user-email required">
                    <label class="control-label" for="user-email">Email</label>
                    {{ form.email }}
                    <div class="help-block"></div>
                </div>
                <div class="form-group field-user-password required">
                    <label class="control-label" for="user-password">Password</label>
                    {{ form.password }}
                    <div class="help-block"></div>
                </div>            
                <div class="form-group field-user-password_repeat required">
                    <label class="control-label" for="user-password_repeat">Password Repeat</label>
                    {{ form.confirm_password }}
                    <div class="help-block"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>    
        </div>
        </form>
    </div>
</div>
{% endblock %}